<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>IDInstallerDataV1</key>
	<data>
	4CRicGxpc3QwMN8QEAECAwQFBgcICQoLDA0ODxAGERITFBUWFxgZGhscHR4fUzEwM1My
	MDVRCAZABDjlM1E0UTUACMAGNlE26TlRN1MyOTlRMAAoQBAwQAQy4Ds3WDEuOTAwNTM2
	W3NvbGlkIHN0YXRlWDIuMTQyODU5WTExLjUxMTM0M1t1bmVuY3J5cHRlZF8QEGNhc2Ug
	aW5zZW5zaXRpdmVYMC4ARuAGNTg1VWNsZWFuWDMuOTQyNzQxU1lFUwAc4A4xMjI1MjhV
	MTZDNjdWcGFzc2VkWjU4Mi41MzIzODcIIeAWMDE3NTcIKy8zNTk9P0FFR0tNUVNXW19o
	dH2Hk6avtb7Cy9HY4wAQAc4BAQDyniAA9uMAAOwGAAAAAAAAAA==
	</data>
	<key>IDInstallerDataV2</key>
	<data>
	4ClicGxpc3QwMKQBIjtA3xAQAgMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHR4fICFT
	MTAzUzIwNVEIBkAEOOUzUTRRNQAIwAY2UTbpOVE3UzI5OVEwAChAEDBABDLgUjdRMVkz
	MC4zMTg3NDNbc29saWQgc3RhdGVYMi4yMTU4ODVZNDEuNzAwNTM1W3VuZW5jcnlwdGVk
	XmNhc2Ugc2Vuc2l0aXZlWDAuMDAzNjQ4VWNsZWFuWDguMTMwOTIxUk5PABvgDjIxMjAx
	NlUxNkM2N1ZwYXNzZWRaODMyLjQ5OTA0MAAh5jE1Njc5MwDi4BAjJAQlJgcIJwooDCkO
	DyorLC0uLzAxMjM0NRw2Nzg5Ovgo4AjcCNoI2DDS6jJYNC4zNzkxNDk40ffuNDU0NVky
	OS45MDI2NzT68sjTXxAQ8ZjVaW75zjMxMPKAEFkx5TUwOTEzCLLkODQ2NzjT9ukwMi4w
	MTczMjf36zI21DwPCg4EPT4/CLkgKO9fEA9zb2Z0d2FyZSB1cGQAmxhHAP/gEEFCQ0RF
	RkdISUpLTE1OT1BGUVJTVFVWV1hZWltcXV5fOeHwGuRYMS45Cb9pDTb34AAxNDI4NTlZ
	MTEuNTExMzQz+vAK5DU1ODUh4uwzLjk0Mjc0MVNZRVMI7+UyMjUyODkQ9Ok1ODIuNTMy
	Mzj1ARrgszU3AAgADQAwADQAOAA6AD4AQgBEAEYASgBMAFAAUgBWAFgAXABgAGQAZgBw
	AHwAhQCPAJsAqgCzALkAwgDFAM4A1ADbAOYA7wESARYBGgEeASIBJgEqAS4BMgE2ATgB
	QQFNAVYBYAFsAX8BiAGOAZgBoQGnAa4BuQHCAcsBzwHWAegB7gIRAhUCGQIbAh8CIwIl
	AicCKwItAjECMwI3AjkCPQJBAkUCTgJaAmMCbQJ5AowClQKbAqQCqAKxArcCvgLJABAB
	zgIBAPKeYAD24wAC0gYAAAAAAAAA
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XWQDDQOs9llOQiGN5vNZrP5Zg7HzONbbXZL6UAiaXn+rsvHZRAMbzabzWYz
	DkaT5WAxMQ0GMsvLZTLojk6zyyByeg5nh/MgeBpeBsFA6PAcBH+n3fSyHER/g9J0UJgO
	EoFEZmJ6DmeH88K62VyWz7ewrgj4EtbTbLL0/aa/mGmxPCzPv4bhMbo8f43fbVcYDmeX
	XXjx/DV91+Xj8vyVfAbH4zK7LA/T33JjuJ1m57/rMp4+fyWfwfG4zC7Lw/S33Bhup9n5
	lgyXc8lur2UZT5e9ks/geFxmE9NzODuch6bhZdcYDtfNYjSZQhger+ny8LgMQg2hVZAs
	xQIZ5eF2GaQDScv0utwNCpLJ8vJ8roDhzWaz2WzOxWbimHk2NsNAOhAMbzabzWYzDhYz
	j82yWGwMUsDwZrPZbDbnYjNxzDwj32AgHQiGN5vNZrP5Zg7HzONbbXYDKWB4s9lsNptz
	sZk4Zp6RczCQDgTDm81ms9l8M4dj5tytXIaBFDC82Ww2m8252EwcM8/IYxhIB4LhzWaz
	2Wy+mcMxs3hcNpNBChjebDabzeZcbCaOmWdkMwykA8HwZrPZbDbfzOGYOQwzx8IgBQxv
	NpvNZnMuNhPHzLOyDAbSgWB4s9lsNptv5nDMHDbHaDiQAoY3m81mszkXm4lj5lnZBgPp
	QDC82Ww2m803czhmDo/NuTFIAcObzWaz2ZyLzcQx86ycg4F0IBjebDabzWYcTAaT5Wyw
	8AykgOHNZrPZbM7FZuKYeVYmw0A6EAxvNpvNZjMOJoPJxGNxuAxSwPBms9lsNudiM3HM
	PDPHYCAdCIY3m81msxkHk8FkuRothwMpYHiz2Ww2m3OxmThmnplzMJAOBMObzWaz2YyD
	yWCyHC08voEUMLzZbDabzbnYTBwzz8xiGEgHguHNZrPZbMbBYuZxGBY230AKEAgEAoGW
	Zbm7zAYV8fSye55+u+egtBskDo/XdHl4XNYpQCAQCAQCgUDjd9sVhsPZZVf6vU7TXcln
	cDwus8vyMP0tN4bbaXZehpLhci7ZLbUdCmm5XK4mbMlqsFtrVqThWrhbsdiqDW/B2o0I
	MxZpwi4QhjebzWaz+WYOx8w4MgwGa/lgeLPZbDabb+awDBYjm81mBQgEAoFAIBAIBAKR
	y/Cym1x2j/M60PjddoXhcHbZlX6v03RX8gkdJo3hdpqdR8lcudTWZsQRZ8GhsCW7DYWt
	mbB2a+WKMFurNivObrebTWasDbtAGN5sNpvN5ps5DKvNZDAYTAECgUAgEAgEAoFA5DK8
	7CaX3eO8DjR+t11hOJxddqXf6zTdlXwe5WE4Oj2eG8PtNDuPqsVmrlhqW7vhjDki7NbK
	2Yy01swIy7WCtqCtBaPdjLLabSicCYNdIAxvNpvNZvPNHI7ZxGQYDKZQCKdEEFz+Hpfn
	c5A73C6Dxm+5vDyHv93ktPsMor9B47pcXnbTQXS0vBwm60DrstxdZn/p4flaIXy/6aCw
	/DzXgebsNLncg4HIYTm9BwORw/L1Pbwu93AgN3yc7sHwMhgMBnLbv+T0PCxml3sxUMsO
	AikUzfAY9JyC7GX5PP126xQx29B2UyiWZbm7zAbZy/J5+u3WKYhh+T3tBi3LcneZDbKW
	5fP02w2K2VwzF0wHoqLrIOfbDordQDKYTjbT1XAg6JQKksFith1I/n7TdXh3vTW74XKu
	Wcwl88de0iKzGJwWv1ic7WujKZZlubvMBlWrSaIOhCMacTEjLtaCxXLG1oyGK7aEtFux
	RYMFaTQcTZgrymKKZVnuLrNBc3aaXNaBQCAQCIaHwWAwGAwGi5nDMBgMBlMsy3J3mQ2i
	l/F0kDg8L+tAMLzZbDabzThYzDyGwWAwmOL7RSaFIBC9jKeDxOF5WQeC4c1ms9lsxsFi
	ZjEMBoPBFNP8nF5ug9pvcpkNcofbZR2oGR4L3+81VP6OyVgxEKoZHreKtNkwNpTViDQc
	DhYk2lIKxTQ/p5fboDqcnm6XQWk3yB12v+fl8dtNnutAMZmNJoPZbrGbTKZgh+d0EPsd
	JpfJoHUZTweF6aBYDWaD4WqzGYymA/lCwaM8DEenx3Ni2Z4el6FvdnqcT8xcsZnrhgOh
	wmSyHATDm81ms9l8M4dlOBgZBoOxQPO0vgyq3WY0WkrBfofJZTJoXcbT5zqFLxQ8ysNw
	dHo8J5bt6XEZ+manx/nEzBWbuW44hS8URBKDyLCcfA/Ly8O325w+E+Vpe1mekN1wrppN
	ATSn2eV5fk4vt+cuN908T8xcsZnCFwoiicGE7IZz1WwKoDnNLs/zc3q5PXeF6/S3eZ6Y
	uWAKH7xNL7PL7TJdnk/EFPzkszovy4t0dFnuLtMTMRfMFVP4QsFQEjpEQpvDRMwVU/hC
	wVByumQe5WE4Oj2eJ2Iwl8wlU/hCwSp8TpeXw+3qvCwfstNlNz0xc9lcNAU/+QwJp2V5
	Osxuht3hc1meqLlgLpmZpgAS3276d0ovh9nfZnj8fU6/2MTNBXPBFL5QsFnHD99uuvzN
	TsxcsZnrhlP4QkGkNRFT+EJBYXi8ZqfPaHoidoO5cq4YTOELDqHJ77Q5/ELZYbr5LW9D
	2fVz2p2IuWAumMIXCoaS0yXzKA/D0enx3CgPt8viutlclidiMFfMhVP4QsFQcsp+34Pk
	MJyetpeH7Pd4nXafEzQXzAVT+EJBY9IqJcrT9rI8QXPFXDAF0G1Pk9Nhl9NKDE7pYTm9
	Dk/EYK6Yi6bwhYLN4XA6fLvp8jc7EXPJXLGawhcKGtPs8jQ/p5fbRHnaXpYnZi6YK6YA
	hoLG6fDdhsvL83n67XaFgsbp8N2Gy8vzefrtpubhZWKYHmaX5/NEzAVzwcgxBTAUNE6H
	7zZcXp7P02+3KxQ0TofvNlxens/Tbzc1Dy9r2WlxIuaCuWAKoPD9pg/DY3Q5QYMpgOY0
	uzzPz+nl9tyFNs9d6zKenpjZbK4ZzDVT8JPPIHKYFLLf43VompDlai4ZzBVT+ELBIHKY
	hL7l9MRMZlP4QkEpdZiQuWAKXygYHEKTxWGi5oIpfKFgcAhNCut0+ts9T9RcMIUvFERC
	i9REzIVT+ELBaVOYfE4TMldM4QsFg9DkMBFz3RRA97rsCsPh7PQ4TE+/3ea0vHwPs9mJ
	2E2mIMXrYXnYTU+7y4mZgkRtTsPmMj3vLNMTOIWPOIcb6+4xMy1OyG44V82mAK7LeLrr
	ObUvy3I3cQplpsWJmqymAK7LeLqLLk+fz2X5PBFzwRT85HNal5vD43IiVpu5ZgpfKDid
	FhMxF0zhCwWP8jAcnR7Ph283Xf5mJ2au2Mx1wyl8oeC0KazPocNkIuaCuWI0ckzhCwWF
	4fGanT6j6UU8vCynJ2KumAum4CefTqLUOq3D4W85PVGLzVwxhS8UDCWZ8Pm8GpRS7bHE
	zAVz2WAKXygYSjLh83k1KKUO3+32252YuWAuG0zhCwVDSSZ8Pie2w+PEzAVz2WAKfvI5
	LcvTYXbImIjFFL7kE8oO081veRvKrp/Tbmb5HB7nEzEXzAVT+JJPKDtMN7/lbSi7fk67
	Q8aEzQVzwcg4hS8URBKDoWFCdsO5ajYFP/lEEoMhY0J2w7lqNgU/+QzWyel3yJiQwWqu
	WEwBtJfHzLTYtS7j6YmYS+aCKfjJZ0iIfM/poWF1KqTKw+45/C2nJ2oumEtmpin4yWdI
	iHzP6aEhVR52z+FvOT1Rc8FcMjNNwU8+Q8KQMVFzwVwyM00BDAWP8jAcnR7PiWV7elwe
	vt10+ZudmLliM9cNp+Ann8HxuMwuy8P0tzxklCVkuJxLdlPwk88p+30PksNwetpeHrLf
	43XafQ4ZEzEXzAVT+ELBaXOYmLlirpzCFwpOm8L6PDRMxFwwV4xGjin4yedRHoaj0+N5
	yJioxWaumIKffE6H02RQPkan6eUxvS4vN9/kMjtkTMxyNNcM5pIpfPW52DUmjxM1F8wF
	U/jqc7HLXabf3/J12n1O1FwwF0zhq8/FrlAV+Z7Th+82/D1P08vEsj09LidirpgCaE6z
	y/P8nF5uz11o89xVdo/f5LT7PHety3h6IqbgJ5/OMv3+lq/T7nPImJi5ZApfKIidh93T
	MbrcLidmCn7yGUQOkyFjQobDKXyhYCjJhM/nSdkwMXPBXDaYwhcKhpJM+Hx+nMPTiZkL
	5rLBFL76XOwKVbHIYRI6TCZirpjCV5+LXaEqFjlMJmKumMJXn4tdoSryPadDw+N1mW5M
	s+lleSLmgin4yWd1KgwZEzkYzEVzxRS+ULBoTDqt0mAzIXPFFL5QsGhMSutuerpdTshc
	MIUvVEW+5/RmWX4uQ+VveFlOT5fniZgrpuAnn9OmsD4PGRMxV0zBTz6RSWLImJC5YC6Y
	gjQPu8niNz4xg8FcMAVwXcbTXaFgM0wfoxMxF8wFI8cUvlBwWc5P6W95OSFT+ELB5luc
	ZpeNaXY56aaXz/I0PZ+IuWCumsIXCg7lZXLZTU+H2c2wO3wuyxMxF0zhW5bl7jJbWmaH
	88j3nJ6IKfjJZ3UqRL7n9JAxEXPFFL5QUFifQ9/3sjw0TMRcMIWPmJ6vk+3wuTxP0Gg0
	1wzmqin4yWdoGjImZK6Ygp98Ssvwt5weMiZmMYUvFDQSi8tyfkp/y8sJGc41gyl8oWBw
	CE1C2WG6+S1vJ2oumIKffEKHyZAxIXPlFPzkMziEJkPGRMxFUwDX5bGLmRa3EzEFcF0e
	u+B0tLwcJidiCuC6PHaN3/LyWJ6H09+JmAumAAAA
	</data>
	<key>backlight-level</key>
	<data>
	AQU=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KgqHgAAAAABgFAjUDMmmUg==
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	EwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjUxM0ZBOUNCLUU4
	ODgtNEREMC04MzBELUU4Njk3NDQ3MDAxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcU21jRmxhc2hlci5lZmk8L3N0cmluZz48L2RpY3Q+
	PC9hcnJheT4A
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAABAAAAAAAAAAkA8AAAAA
	AMupP1GI6NBNgw3oaXRHABECAgQEZABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABTAG0AYwBGAGwAYQBz
	AGgAZQByAC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjUxM0ZBOUNCLUU4
	ODgtNEREMC04MzBELUU4Njk3NDQ3MDAxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGlj
	dD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAABAAAAAAAAAAkA8AAAAA
	AMupP1GI6NBNgw3oaXRHABECAgQEaABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AYgBhAHMAZQAuAHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjUxM0ZBOUNCLUU4
	ODgtNEREMC04MzBELUU4Njk3NDQ3MDAxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9k
	aWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAABAAAAAAAAAAkA8AAAAA
	AMupP1GI6NBNgw3oaXRHABECAgQEbABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjUxM0ZBOUNCLUU4
	ODgtNEREMC04MzBELUU4Njk3NDQ3MDAxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTdERjIxQ0IzRUQ2OTc3RTUuZXBtPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAABAAAAAAAAAAkA8AAAAA
	AMupP1GI6NBNgw3oaXRHABECAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEAYwAtADcARABG
	ADIAMQBDAEIAMwBFAEQANgA5ADcANwBFADUALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjUxM0ZBOUNCLUU4
	ODgtNEREMC04MzBELUU4Njk3NDQ3MDAxMTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQkE2MV8wMDk5X0IyM19MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>efi-apple-recovery-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgABAAAAABAAAAAAAAAAkA8AAAAA
	AMupP1GI6NBNgw3oaXRHABECAgQEYgBcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwATQBCAEEANgAxAF8AMAAwADkAOQBfAEIAMgAzAF8ATABPAEMASwBF
	AEQALgBzAGMAYQBwAAAAf/8EAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZBQkI1MDU5LTMw
	RkMtNEY3NC05RTBFLTY3ODZFMzg2OTBFMDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgAEAAAAADBQBgAAAABoM4QIAAAA
	AFlQu/r8MHRPng5nhuOGkOACAn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEg==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B7AHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajQxajQzAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhMPAAAV
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajQzAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	YXPnmoRNYWNCb29rIFBybw==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	emgtSGFuczow
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgAEAAAAADBQBgAAAABoM4QIAAAA
	AFlQu/r8MHRPng5nhuOGkOACAn//BAA=
	</data>
	<key>tbt-options</key>
	<data>
	BA==
	</data>
</dict>
</plist>
